<!-- <div class="hero{% unless page.url == "/" %} hero--compact{% endunless %}">
  <div class="hero-text">
    <h1>
      <a href="{{ "/" | relative_url }}">
        Workshop on AI for<br>Computational Social Science
      </a>
    </h1>
    <p class="hero-venue">
      At the IEEE International Conference on Data Mining (ICDM)
    </p>
    <p class="hero-footer">
      AI4CSS @ ICDM 2025
    </p>
    <p class="hero-subtitle">
      Nov 12–15, 2025<br>
      Washington, D.C.
    </p>
  </div>
</div> -->

<canvas id="wordcloud" width="2300" height="{% if page.url == "/" %}800{% else %}400{% endif %}" style="height: auto;width: 100%;"></canvas>
<script src="{{ "/assets/javascript/wordcloud.js" | relative_url }}"></script>
